<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   
   <bean id="textEditor" class="com.spell.classes.Checker">
      <property name="spellChecker" ref="spellChecker"/>
   </bean>

   <bean id="spellChecker" class="com.spell.classes.SpellChecker">
   </bean>

</beans>